<div id="c1" style="width: 25%;  margin-left: 35%">
    <p-fieldset legend="Formulario Login">


        <div class="p-grid">
            <div class="p-col-3">
                <label for="float-input">Username</label>
                <input id="float-input" type="text" size="30" pInputText>

            </div>
        </div>


        <div class="p-grid">
            <div class="p-col-3">
                <label for="float-input">Clave</label>
                <input id="float-input" type="text" size="30" pInputText>
            </div>
        </div>


        <button pButton type="button" label="Aceptar" class="ui-button-raised"></button>
        <button pButton type="button" label="Cancelar" class="ui-button-raised ui-button-secondary"></button>
        


    </p-fieldset>
</div>