<div id="c1" style="width: 25%;  margin-left: 35%">
        <p-fieldset legend="Registrar usuario">
    
    
            <div class="p-grid">
                <div class="p-col-3">
                    <label for="float-input">Nombre</label>
                    <input id="float-input" type="text" size="30" pInputText>
    
                </div>
            </div>
    
            <div class="p-grid">
                    <div class="p-col-3">
                        <label for="float-input">Clave</label>
                        <input id="float-input" type="text" size="30" pInputText>
                    </div>
                </div>
        
    
            <div class="p-grid">
                <div class="p-col-3">
                    <label for="float-input">Confirmar clave</label>
                    <input id="float-input" type="text" size="30" pInputText>
                </div>
            </div>
    
            <div class="p-grid">
                    <div class="p-col-3">
                        <label for="float-input">Fecha Ingreso</label>
                        <input id="float-input" type="text" size="30" pInputText>
                    </div>
                </div>
        

            <button pButton type="button" label="Aceptar" class="ui-button-raised"></button>
            <button pButton type="button" label="Cancelar" class="ui-button-raised ui-button-secondary"></button>
            
    
    
        </p-fieldset>
    </div>
